# Byte-compiled Python files
*.py[cod]

# Log files
*.log

# Virtualenv files
.venv
env
venv
virtualenv

# Cache files
.cache
__pycache__

# IDE and editor files
.vscode
.pycharm
.idea

# Streamlit cache files
.streamlit

# Data files
data/
dq/
env.py
data/

# Other files
*.egg-info
dist/
build/
*.pyo
*.pyd
*.whl
*.egg
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lzma
*.tar.zst
*.tar
*.gz
*.bz2
*.xz
*.lzma
*.zst
*.zip
*.rar
*.7z
*.xz
*.lzma
*.zst
*.tar
*.gz
*.bz2
*.xz
*.lzma
*.zst
*.zip
*.rar
*.7z
*.xz
*.lzma
*.zst
*.tar
*.gz
*.bz2
*.xz
*.lzma
*.zst
*.zip
*.rar
*.7z
*.xz
*.lzma
*.zst
*.tar
*.gz
*.bz2
*.xz
*.lzma
*.zst
*.zip
*.rar
*.7z
*.xz
*.lzma
*.zst
*.tar
*.gz
*.bz2
*.xz
*.lzma
*.zst
*.zip
*.rar
*.7z
*.xz
*.lzma
*.zst
*.tar
*.gz
*.bz2
*.xz
*.lzma
*.zst
*.zip
*.rar
*.7z
*.xz
*.lzma
*.zst
*.tar
*.gz
*.bz2
*.xz
*.lzma
*.zst
*.zip
*.rar
*.7z
*.xz
*.lzma
*.zst
*.tar
*.gz
*.bz2
*.xz
*.lzma
*.zst
*.zip
*.rar
*.7z
*.xz
*.lzma
*.zst
*.tar
*.gz
*.bz2
*.xz
*.lzma
*.zst
*.zip
*.rar
*.7z
*.xz
*.lzma
*.zst
*.tar
*.gz
*.bz2
*.xz
*.lzma
*.zst
*.zip
*.rar
*.7z
*.xz
*.lzma
*.zst
*.tar
*.gz
*.bz2
*.xz
*.lzma
*.zst
*.zip
*.rar
*.7z
*.xz
*.lzma
*.zst
*.tar
*.gz
*.bz2
*.xz
*.lzma
*.zst
*.zip
*.rar
*.7z
*.xz
*.lzma
*.zst
*.tar
*.gz
*.bz2
*.xz
*.lzma
*.zst
*.zip
*.rar
*.7z
*.xz
*.lzma
*.zst
*.tar
*.gz
*.bz2
*.xz
*.lzma
*.zst
*.zip